@font-face {
  font-family: Langar-Regular;
  src: url(../fonts/Langar-Regular.ttf);
}

body {
  line-height: 40px;
  background-image: url(../bg.jpg);
  }

.body1 {
  background: url(../bg.jpg);}
.p1 {
  font-size: 2em;
  text-indent: 2em;
  text-decoration-color: red;


}


